<title>About</title>
<h2>Welcome to Monica's Kitchen Creations</h2>
<h3>These are some of the things I created while studying at the 
	<a href="http://www.nfculinary.org/" target="_blank" >Niagara Falls Culinary Institute</a>
 and since then in my own kitchen.<br><br>Monica
</h3>

